.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}
  /*
  CSS Modules are useful for component-level styles. But if you want some CSS to be loaded by every page, Next.js has support for that as well
  */